body{
	background-image: url("jjj.png");
	background-repeat: no-repeat;
	background-size: cover;

}
.isi-news{
	margin-top: 10%;
	color: black;
	width: 100%;
	text-align: left;
}
.news-footer{
	margin-top: 10%;
}
.news-footer a{
	margin-top: 10%;
	color: black;
	text-decoration: none;
	font-size: 25px;
}
.container2{
  width: 70%;
  margin: auto;
  margin-top: 12vh;
}
.pertanian{
    width: 27%;
    margin-right: 5%;
    display: inline-block;
    text-align:left;
    background-color: #a2e8b8;
    border-radius: 10px;

 }
 .farmer{
    width: 27%;
    margin-right: 5%;
    display: inline-block;
    text-align: left;
    background-color: #68d48a;
    border-radius: 10px;
   
 }
 .paktani{
    width: 27%;
    margin-right: 5%;
    display: inline-block;
    text-align: left;
    background-color: #b8dec4;
    border-radius: 10px;
 }
 .Selamat{
 	font-family:Remachine Script Personal Use;
 	font-size: 70px;
 	color:#0e421e;
 	margin-top: 15%;
 }
 .search{
 	width: 300px;
 	height: 30px;
 	border-radius: 30px;
 	text-align: center;
 }
 button{
 	width: 60px;
 	height: 30px;
 	border-radius: 20px;
 }
 .news-footer{
 	font-size: 10px;
 	font-family: MV Boli;
 }
 a{
	text-decoration: none;
	color: green;
	font-size: 18px;
	margin-right: 3%;
}
.pilihan{
    margin-left: 50px;
}

