body{
	background-image: url(bg1.jpg);
	background-size: 1370px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	text-align: left;

}

img{
	width: 40px;
	height: 40px;
}

h2{
	font-family: Remachine Script Personal Use;
	color: green;
	font-size: 70px;
	text-align: center;
}
h3{
	font-family: Comic Sans MS;
	text-align: center;
	color: #e8e8e8;
	font-size: 25px;
}
button {
	background-color: #95e8a0;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	width: 150px;
	height: 60px;
	border-radius: 20px;
	margin-right: 5%;
	margin-left: 5%;
}
header {
	align-items: center;
}
nav ul{
	float: right;
	display: flex;
	list-style-type: none;
	text-align: left;
}
nav a{
	color: #278c4e;
	padding: 3px;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;


}